/* file:  /yoga/manonasa/_manonasa-refresh.css  updated Dec 20, 2019. June 7, 2022 */


@media only print {
    #article:after {
        content: "Update June 7, 2022";
    }
}

/* background selfdefinition-responsive default is #fcfeff */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
    background: #fff9f9;
}


/* the following is used in conjunction with menu-highlighter.js
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition.css with a default color */
/* color must contrast with body */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
    background: #d9e6f0;
}


/* end */
