/* css for /psychology/stratton/_mental-power-sparse.css

Update June 6, 2020. May 22, 2022  */


@media only print {
	#article:after {
		content: "Update: May 22, 2022";
	}
}

html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
	background: #fafffa;
}

#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
	background: #dadaff;
}


header h3 span.block {
	font-size: 90%;
}



/* end */
