/* file:  /blavatsky/articles/_articles-refresh.css 

Update May 30, 2020

*/

@media only print {
    #article:after {
        content: "update May 30, 2020";
    }
}

/* background selfdefinition-responsive default is #fcfeff */
/* or try nice yellow, or this, #f3fff3; a nice green */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
    background: #f9ffee;
}


/* THIS IS DEFAULT - Blue, for selfdefinition-responsive.css  */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton {
    background: #bde0ff;
}




/* end */
