/* table template for twelve-links-of-dependent-arising.htm */
/* based on d-m.org.  In d-m.org was "section"  */
div.table {
    display: table;
    font-size: 14px;
    line-height:2.1em;
    border-right:0 solid transparent;
}


/* Can't set margins and padding in rows, must apply to cells */
div.table-row {
    display: table-row;
}

/* div.header is not used */
div.header {
    display: table-row;
}

.header  {
    font-weight: bold;font-size:90%;
}

div.number, div.term, div.translation, div.effect, div.remarks {
    display: table-cell; text-align:left;  border:0px solid green;
}

div.number, div.term, div.translation, div.effect, div.remarks {    
    
}


div.term, div.translation, div.effect, div.remarks {    
    
}

div.remarks {border-right:1em solid transparent;}


div.number {
    padding-right:3px;
}
div.term { 
     
}
div.translation { 
 
}
div.remarks { 
    padding-left: 5px;
}

.table-row {
}

div.number, div.term, div.translation, div.effect, div.remarks {
    border-bottom: 1px solid blue;
}

.not-for-wide {display:none;}

/* in the following, if you use max-width then iPhone will not respond. ???????????????
must use max-device-width */

/* iPhone 5 portraait width is 568px */
@media only screen and (max-width: 550px) {
    
    #partial .number, #partial .term, #partial .translation, #partial .effect {display:none;}
    
    div.table {font-size:100%;}

    div.sections {
        display: block;
        margin-left: 6px;
    }

    div.table-row {
        display: block;
    }

    /* table row doesn't work, not in a table? reduce column widths */
    div.header {
        display: block;
        background: #def;
        border-top: 1px solid blue;
    }

    .header div.number, .header div.term, .header div.translation, .header div.effect, .header div.remarks {
        display: inline-block;
        padding: 0 10px 0 0;
        width: auto;
        font-weight: normal;
        border: 0;
    }


    div.number, div.term, div.translation, div.effect, div.remarks {
        display: block;
        padding: 10px 0;
    }

    div.number, div.term, div.translation, div.effect, div.remarks {
        width: 100%;
        border: 0;
    }

    div.number {
        border-top: 1px solid blue;
    }

    div.remarks {
        border-bottom: 1px solid blue;
    }
    
    .removable {
        display:none;
    }
    
    .not-for-wide {display:inline;}

    /* override mediawiki skin items where font size is rendered too small */