/* file:  /afterlife/victor-solow/_victor-solow-sparse.css

Update May 18, 2020 */

@media only print {
	#article:after {
		content: "update May 18, 2020";
	}
}


/* nice yellow, or this, #f3fff3; a nice green */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
	background: #fffff4;
}


/* the following is used in conjunction with menu-highlighter.js
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition.css with a default color */
/* color must contrast with body */
/* This is default #bde0ff- Blue, for selfdefinition-responsive.css  */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
	background: #c9d4fc;
}

/* these are links */
ul.related-articles {
	padding-left: 20px;
	margin-top: 15px;
}

ul.related-articles li {
	margin-top: 0;
	margin-bottom: 15px;
}

ul.image-list-links {
	padding-left: 20px;
	margin-top: 20px;
}

ul.image-list-links li {
	margin-top: 0;
	margin-bottom: 15px;
}

ul.related-articles li.text {
	list-style: none;
	margin-left: -20px;
	font-weight: bold;
}



/* testing 

***/


/* end */
