/* file:  /zen/huang-po/dharma-of-mind/_dharma-mind-transmission-light-only.css

    Update January 6, 2020. Dark styles added March 9, 2022. Update 2022.CSS June 13, 2022
*/

@media only print {
	#article:after {
		content: "Update June 13, 2022";
	}
}

/* background selfdefinition-responsive default is #fcfeff */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
	background: #f9f9ef;
}



/* the following is used in conjunction with menu-highlighter.js 
   The structure of menu must conform to specs of script.
   Default CSS is in selfdefinition.css with a default color */
/* color must contrast with body */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
	background: #fce;
}



/* end */
