/* file:  /yoga/_yoga-root.css */



/* background selfdefinition-responsive default is #fcfeff */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen {
    background: #fceefc;
}


/* the following is used in conjunction with menu-highlighter.js 
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition.css with a default color */
/* color must contrast with body */
#nav ul li a.active {
    background: #fce;
}

/* GET RID OF SCROLLBAR ON FIREFOX
https://stackoverflow.com/questions/15394065/firefox-scroll-bar-hidden */
div {
    scrollbar-width: none;
}

/* can increase font size due to short titles; default is 80% */
ul.next-previous-item-list {
    font-size: 90%;
    font-weight: bold;
}

/* COLOR: darken the blue link as background is blue. Default is #2277dd*/
ul.next-previous-item-list a:link,
ul.next-previous-item-list a:visited {
    color: #400000;
}

#article {
    font-size: 16px;
}


/* default is 170px */
.menu-section li a {
    width: 180px;
}

/* override responsive default */
@media only screen and (max-width:767px) {
    #menu-site-small-screen {
        top: 21px;
    }

    #main-content {
        top: 71px;
    }
}



/* Anything smaller than Iphone6 */
@media only screen and (max-width:375px) {
    #menu-site-small-screen li a {
        font-size: 15px;
    }
}

/* Iphone5 -- reduce the font size so you get 4 items in the 2nd line */
@media only screen and (max-width:320px) {
    #menu-site-small-screen li.clear-left {
        clear: initial;
    }

    #main-content {
        top: 111px;
    }
}


/* added Apr 18, 2020 */

p.tiny {
    font-size: 75%;
}

.toowide {
    width: 80%;
}

@media only and (max-width:600px) {
    .tiny {
        font-size: 85%;
    }
}


/* testing 

#menu-site-small-screen {background:beige;}
#menu-site-small-screen li {border:1px solid red;}

#fixed-header-small-screen	{background:green;}

header h3   {border:1px solid red;}

header.chapter-header p  {border:1px solid red;}

.menu-text li {background:pink;}

.menu-section {border:1px solid green;}

.page-links {border:1px solid green;} */


/* test width of menu-container 

nav#nav  {border:1px solid maroon;}

#menu-container  {border:1px solid blue;}

#menu-section-group {border:1px solid yellow;} */



/* end */
