/* file:  /advaita/parameshwar/_hundiendome-refresh.css

Update May 23, 2020. June 24, 2022

***/

@media only print {
    #article:after {
        content: "June 24, 2022";
    }
}


html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
    background: #ffffea;
}


#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
    background: #bde0ff;
}



/* end */
