## Page reformatted an renamed Aug 30, 2018. Renamed again Oct 20, 2022  

## WAS Redirect 301 "/magic/hartmann/wisdom/chapter-08.htm"  "/magic/hartmann/wisdom/chapter-08-alchemy.htm"

Redirect 301 "/magic/hartmann/wisdom/chapter-08.htm"  "/magic/hartmann/wisdom/08-alchemy.htm"

Redirect 301 "/magic/hartmann/wisdom/chapter-08-alchemy.htm"  "/magic/hartmann/wisdom/08-alchemy.htm"

##