/* file:  /huna/secret-science/_secret-science-sparse.css */


/* background selfdefinition-responsive default is #fcfeff */

/* color must be different from Huna Bulletin */
html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
	background: #fafaf0;
}

/* the following is used in conjunction with menu-highlighter.js
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition-responsive.css with aebruary default color */
/* color must contrast with body */
/* This is default: #bde0ff - Blue, for selfdefinition-responsive.css
	nice pink: #FFC0CB */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
	background: #d9eed9;
}

header span.block {
	font-weight: normal;
	font-size: 85%;
	color: #080;
}

html.dark header h3 span.block {
	color: #ee0;
}

/* end */
