/*     File:  /buddhism/diamond-sutra/en/_diamond-sutra-sparse.css:         */

@media only print {
    #article:after {
        content: "Update April 6, 2021";
        font-size: 60%;
    }
}

html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
    background: #e6ffef;
}


/* the following is used in conjunction with menu-highlighter.js
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition-responsive.css with a default color */
/* color must contrast with body */
/* This is default #bde0ff- Blue, for selfdefinition-responsive.css  */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
    background: #c0d4fc;
    /* nice blue, goes with the green */

}


/* CUSTOMIZABLE FEATURES. (also see MENU STYLING below; requires height adjustments) */



p.para-number {
    text-align: center;
    font-weight: bold;
}



/* testing */

/*  *******/


#main-content {
    border: 0px solid yellow;
}

#article {
    border: 0px solid white;
}

#title-include-div {
    border: 0px solid red;
}

#announce header {
    border: 0px solid green;
}

header h1,
header h2,
header h3,
header h4,
header p {
    border: 0px solid blue;
}

#menu-container {
    border: 0px solid red;
}

#fixed-header-small-screen {
    border: 0px solid blue;
}

#menu-site-small-screen {
    border: 0px solid orange;
}

#menu-site-small-screen li {
    border: 0px solid green;
}

#menu-section-group,
div.optional-links,
div.site-links,
div.external-links {
    border: 0px solid blue;
}

ul#menu-site,
ul.menu-text,
ul.menu-section {
    border: 0px solid green;
}



nav.next-previous-item-nav {
    border: 0px solid yellow;
}

ul.next-previous-item-list {
    border: 0px solid red;
}

a.page-link-anchor:target {
    border: 0px solid red;
}

@media only screen and (max-width: 767px) {
    a.page-link-anchor:target {
        border: 0px solid green;
    }
}

a.return-anchor,
a.return-anchor:target {
    border: 0px solid red;
}

a.endnote,
a.endnote:target {
    border: 0px solid red;
}



/* end */
