/*     File:  /psychology/hubbard/brainwashing/_bw-manual-sparse.css:   

    Update June 3, 2022
*/

@media only print {
    #article:after {
        content: "Update June 3, 2022";
    }
}


/* source for green pallets: https://colorswall.com/palette/35901       */


html,
body,
#fixed-header-small-screen,
#menu-site-small-screen,
.progress-header,
.progress-container {
    background: #daffde;
}

/*    beautiful gren:  background: #e6ffef;

        beautiful yellow, Santanelli: background: #001010;

        */


/* the following is used in conjunction with menu-highlighter.js
    The structure of menu must conform to specs of script.
    Default CSS is in selfdefinition-responsive.css with a default color */
/* color must contrast with body */
/* This is default #bde0ff- Blue, for selfdefinition-responsive.css  */
#nav .menu-section a.active,
#menu-scroll,
#menu-scroll a,
#toTopButton,
.item:hover,
nav.contents .item:hover {
    background: #c0d4fc;
    /* nice blue, goes with the green */

}

header h3 span {
    font-size: 80%
}


/* end */
