# .htaccess file for selfdefinition.org/osho/

# Moving books off the server Dec 17, 2016

ErrorDocument 404 "/osho/osho-book-list.htm"

#format
Redirect 301 "/osho/book-title.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/A Cup of Tea.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/A Rose is a Rose is a Rose.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Above All Don't Wobble.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/And Now, And Here.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Be Realistic. Plan for a Miracle.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Believing the Impossible Before Breakfast.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Beloved of My Heart.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Blessed Are the Ignorant.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Bodhidharma.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Books I Have Loved.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Come Follow To You vol1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Come Follow To You vol2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Come Follow To You vol3.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Come Follow To You vol4.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Dance Your Way to God.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Death is Divine.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol10.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol11.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol12.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol3.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol4.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol5.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol6.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol7.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol8.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/DhammapadVol9.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Dimensions Beyond the Known.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Dogen, the Zen Master. A Search and a Fulfillment.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Don't Bite My Finger, Look Where I'm Pointing.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Don't Just Do Something, Sit There.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Don't Let Yourself Be Upset by the Sutra, rather Upset the Sutra Yourself.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Don't Look Before You Leap.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Early Talks.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Ecstasy-The Forgotten Language.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Far Beyond the Stars.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Finger Pointing to the Moon.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/For Madmen Only(Price of Admission. Your Mind.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Bondage to Freedom.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Darkness to Light.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Death to Deathlessness.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Ignorance to Innocence.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Misery to Enlightenment.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Sex to Superconsciousness.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From Unconciousness to Consciousness.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/From the False to the Truth.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Get Out of Your Own Way.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Glimpses of a Golden Childhood.pdf"  "/osho/osho-book-list.htm"

######### this one doesn't redirect ############ 

Redirect 301 "/osho/God%20Is%20%20Not%20For%20Sale.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/God is Dead, Now Zen is the Only Living Truth.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/God's Got a Thing About you.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Guida Spirituale.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hallelujah!.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hammer on the Rock.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hari Om Tat Sat.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hidden Mysteries.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hsin Hsin Ming. The Book of Nothing.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Hyakujo. The Everest of Zen, with Basho's Haikus.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/I Am That.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/I Say Unto You, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/I Say Unto You, Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/In Search of the Miraculous Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/In Search of the Miraculous Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Jokes of Mulla Nasrudin.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Just Around the Corner.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Just Like That.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Krishna The Man and His Philosophy.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Kyozan. A True Man of Zen.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Let Go!.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Light on the Path.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Live Zen.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/My Way. The Way of the White Clouds.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Nansen. The Point of Departure.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Nirvana. The Last Nightmare.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/No Mind. The Flowers of Eternity.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/No Water, No Moon.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Om Shantih Shantih Shantih.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Osho-TheGreatZenMasterTaHui.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Returning to the Source.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Revolution in Education.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sat Chit Anand.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Satyam Shivam Sundram.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Seeds of Wisdom.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sermons in Stones.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sex Matters - talk given 1968.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Silent Period.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Snap Your Fingers, Slap Your Face and Wake Up!.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Socrates Poisoned Again After 2025 Centuries.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sufis. The People of the Path, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sufis.The People of the Path, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Sun of Consciousness.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Take It Easy, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Take It Easy,Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tantra. The Supreme Understanding.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Golden Gate, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Golden Gate, Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Pathless Path, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Pathless Path,Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Three Treasures, Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Three Treasures, Vol 4.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao. The Three Treasures,Vol 3.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Tao.The Three Treasures, Vol 2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/That Art Thou.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The 99Names of Nothingness.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Beginning of the Beginning.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Buddha Disease.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Discipline of Transcendencevol1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Discipline of Transcendencevol2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Discipline of Transcendencevol3.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Discipline of Transcendencevol4.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Earthen Lamps.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Empty Boat.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Eternal Quest.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Further Shore.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Great Challenge.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Great Nothing.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Great Path.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Great Secret.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Great Transcendence.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Guest.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Heartbeat of the Absolute.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Inner Journey.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Long the Short and the All.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Madman's Guide to Enlightenment.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Mahageeta,Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Messiah, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Mustard Seed. My Most Loved Gospel on Jesus.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The New Alchemy. To Turn You On.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The New Dawn.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The No Book (No Buddha No Teaching, No Discipline).pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Osho Upanishad.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Perfect Master, Vol 2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Perfect Master,Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Perfect Way.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Psychology of the Esoteric.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Rainbow Bridge.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Razor's Edge.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Rebel.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Rebellious Spirit.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Revolution.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Sacred Yes.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Search.pdf"  "/osho/osho-book-list.htm"

## 4th batch

Redirect 301 "/osho/The Secret of Secrets, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Secret of Secrets,Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Secret.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Shadow of the Bamboo.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Sun Behind the Sun Behind the Sun.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Sun Rises in the Evening.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Supreme Doctrine.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Sword and the Lotus.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Tantra Vision, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Tantra Vision,Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Tongue-Tip Taste of Tao.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Transmission of the Lamp.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The True Name, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The True Name, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The True Sage.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Ultimate Alchemy, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Ultimate Alchemy,Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Way of Tao, Volume 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Way of Tao, Volume 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The White Lotus.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Wild Geese and the Water.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Wisdom of the Sands, Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Wisdom of the Sands, Vol 2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Zen Manifesto. Freedom From Oneself.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/The Zero Experience.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Theologia Mystica.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/This Is It.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/This Very Body the Buddha.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/This, This, A Thousand Times This. The Very Essence of Zen.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Turn On, Tune In and Drop the Lot.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Turning In.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Unio Mystica, Vol 01.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Unio Mystica, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Until You Die.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Vedanta. Seven Steps to Samadhi.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Vigyan Bhairav Tantra, Vol 02.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Vigyan Bhairav Tantra, Vol 1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Walk Without Feet, Fly Without Wings and Think Without Mind.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Walking in Zen, Sitting in Zen.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/What Is, Is, What Ain't, Ain't.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/What is Rebellion.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/When the Shoe Fits.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Where are the Gandhians.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Wisdom of Folly.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Won't You Join the Dance.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yakusan. Straight to the Point of Enlightenment.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga1.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga10.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga2.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga3.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga4.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga5.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga6.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga7.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga8.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Yoga9.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/You Ain't Seen Nothin Yet.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zarathustra. A God That Can Dance.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zarathustra. The Laughing Prophet.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen. The Diamond Thunderbolt.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen. The Mystery and The Poetry of the Beyond.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen. The Quantum Leap From Mind to No-Mind.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen. The Special Transmission.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen. Zest,Zip,Zap and Zing.pdf"  "/osho/osho-book-list.htm"

Redirect 301 "/osho/Zen.The Solitary Bird, Cuckoo of the Forest.pdf"  "/osho/osho-book-list.htm"



# end


